name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14"
          rebar3-version: "3"
          elixir-version: "1.19.5"
      - run: gleam deps download
      - run: gleam test
        env:
          TESTCONTAINERS_INTEGRATION_TESTS: 1
      - run: gleam format --check src test
